<div class="banner">
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
   <ol class="carousel-indicators">
     {{#features 'banner'}}
      <li data-target="#carousel" data-slide-to={{@index}} class="{{#if @first}}active{{/if}}"></li>
     {{/features}}
   </ol>
   <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {{#features 'banner'}}
        <div class="item {{#if @first}}active{{/if}}">
          <a href='{{url}}'>
            <div class="text-content"><div class="container"><h1 class="title "></h1></div></div>
            <div class="img" style="background-image:url('{{../host}}{{thumbnail.src}}')"></div>
          </a>
        </div>
      {{/features}}
    </div>
    <div class="banner-content">
      <div class="container">
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
